<app-toolbar [breadcrumbs]="breadcrumbs">
    @if ( history.length > 1 ) {
        <div class="button" (click)="close()">
            <img src="assets/images/icons/menu-left.svg" alt="">
        </div>
    }
</app-toolbar>
<div class="container">
    <div class="grid" [class]="responsive">
        @for ( folder of folders; track folder ) {
            <div class="folder" (click)="openFolder( folder, true )">
                <div class="image-display">
                    <img src="assets/images/others/stock/file.svg" class="afolder" alt="folder">
                </div>
                <p>{{ folder.name | titlecase }}</p>
            </div>
        }
        @for ( file of files; track file ) {
            <div class="folder" (click)="openFile( file )">
                <div class="image-display">
                    <img [src]="'assets/images/' + file.folder + '/' + file.id + '.' + file.fileType" class="aimage" alt="image">
                </div>
                <p>{{ file.name }}</p>
            </div>
        }
    </div>
    @if ( !folders.length && !files.length ) {
        <div class="nodata">
            <img src="assets/images/others/stock/construction.svg" alt="">
            <span class="text">Coming Soon!</span>
        </div>
    }
</div>