$matcha-50: #f8fbf8;
$matcha-100: #f3f6f3;
$matcha-200: #e7eae1;
$matcha-300: #d5dacd;
$matcha-400: #a2ad91;
$matcha-500: #758262;
$matcha-600: #515f46;
$matcha-700: #404b35;
$matcha-800: #2a2d20;
$matcha-900: #1b2013;

$swizzle-50: #f8f7ee;
$swizzle-100: #f3f1dd;
$swizzle-200: #e1daa7;
$swizzle-300: #cfc075;
$swizzle-400: #c0a94f;
$swizzle-500: #b19541;
$swizzle-600: #987836;
$swizzle-700: #7a5a2e;
$swizzle-800: #5c4222;
$swizzle-900: #4a351b;