// === Link =================================== //
@import url( 'https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap' );

@font-face {
  font-family: 'Against';
  src: url('/assets/fonts/against.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gemola';
  src: url('/assets/fonts/gemola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}