// === Link =================================== //
@import url( 'https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap' );

@font-face {
    font-family: 'Minecraftia';
    src: url( 'src/assets/fonts/minecraftia/MinecraftiaBold.ttf' ) format( 'truetype' );
    font-weight: bold;
    font-style: normal;
    line-height: 0;
}
@font-face {
    font-family: 'Minecraftia';
    src: url( 'src/assets/fonts/minecraftia/Minecraftia.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
    line-height: 0;
}
@font-face {
    font-family: 'CutePixel';
    src: url( 'src/assets/fonts/CutePixel.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
    line-height: 0;
}