<div class="work-container">

    @if (searchInput.trim() !== '') {
        <div class="toolbar">
            <div class="container-button" (click)="searchInput = ''">
                <img src="assets/images/icons/close.svg" alt="Close Icon">
            </div>
            <p>{{ allSearch.length }} found</p>
        </div>

        <div class="container">
            <div class="grid">
                @for (file of allSearch; track file.id) {
                    <div class="file" (click)="openFile(file)">
                        <div class="image-display">
                            <img
                                [src]="'assets/images/' + file.folder + '/' + file.id + '.' + file.fileType"
                                class="afolder"
                                alt="image"
                            >
                        </div>
                        <p>{{ file.name }}</p>
                    </div>
                }
            </div>
        </div>
    }
    @else {
        <app-toolbar [breadcrumbs]="breadcrumbs"></app-toolbar>

        <div class="container">
            @if (folders.length) {
                @for (folder of folders; track folder.id ?? folder.name) {
                    <div class="folder" (click)="openFolder(folder, true)">
                        <div class="image-display"></div>
                        <p>{{ folder.name | titlecase }}</p>
                        <div class="spacer"></div>
                        <p class="item-length">
                            {{ folder.children.length }}
                            {{ folder.children.length > 1 ? 'items' : 'item' }}
                        </p>
                    </div>
                }
            }
            @if (files.length) {
                <div class="loading" [style.opacity]="loadedImages < files.length ? '1' : '0'">
                    <app-loading></app-loading>
                </div>
                <div class="grid" [class.grid-hidden]="loadedImages < files.length">
                    @for (file of files; track file.id) {
                        <div class="file" (click)="openFile(file)">
                            <div class="image-display">
                                <img
                                    [src]="'assets/images/' + file.folder + '/' + file.id + '.' + file.fileType"
                                    class="aimage"
                                    (load)="onAssetLoad()"
                                    (error)="onAssetLoad()"
                                    alt="image"
                                >
                            </div>
                            <p>{{ file.name }}</p>
                        </div>
                    }
                </div>
            }
            @if (!folders.length && !files.length) {
                <div class="nodata">
                    <div class="line-outer">
                        <label>Coming Soon!</label>
                        <div class="shaded"></div>
                    </div>
                </div>
            }
        </div>
        <div class="back" [class.need-btn]="history.length > 1" (click)="back()">
            <span>
                <img src="assets/images/icons/arrow-left.svg" class="first" alt="Arrow Left">
                <img src="assets/images/icons/arrow-left.svg" class="second" alt="Arrow Left">
            </span>
            <p>Back</p>
        </div>
    }
</div>

<div class="divider"></div>

<div class="display-container">
    <div class="foot-note">
        <p class="author">@thecodemeor</p>
        <p class="version">V_{{ version }} | © 2026</p>
    </div>

    @if (openItems) {
        <div class="container">
            @if (toDisplay !== '') {
                <div class="display-wrap">
                    <div class="name">{{ signal.name }}</div>
                    <img [src]="toDisplay" alt="Display">
                </div>
            }

            @if (booklet.length !== 0) {
                <app-book
                    [images]="booklet"
                    [pages]="pages"
                    [width]="420"
                    [height]="300"
                    [cycleSec]="25"
                    [scale]="1.2">
                </app-book>
            }

            @if (toDisplay !== '') {
                <div class="folder-location">
                    <div class="name-wrap">
                        <div class="folder-name">
                            {{ getFolderName(signal.folder) }}
                        </div>
                    </div>
                    <div class="nothing-layer">

                    </div>
                </div>

                <div class="file-tools">
                    <div class="name-wrap">
                        @for (item of signal.tools; track item) {
                            <div class="folder-name"><p>{{ item }}</p></div>
                        }
                    </div>
                    <div class="line"></div>
                </div>
            }
        </div>
    }
    @else {
        <div class="display-idle">
            <div class="search-wrap">
                <p class="description">A personal showcase website featuring my creative<br>masterpieces.</p>
                <div class="search-input">
                    <img src="assets/images/icons/search.svg" alt="">
                    <input
                        type="text"
                        [(ngModel)]="searchInput"
                        (ngModelChange)="filterPackage($event)"
                        placeholder="Search the image you are looking for..."
                    >
                </div>
            </div>
        </div>
    }

    <div class="logo-dynamic" [class.liftup]="openItems">
        <app-logo></app-logo>
        <label>PIXÖRE</label>
    </div>

    
    <div class="close" [class.need-btn]="openItems" (click)="close()">
        <img src="assets/images/icons/close.svg" alt="Close Icon">
    </div>
</div>

<app-noise
    [patternSize]="250"
    [patternScaleX]="1"
    [patternScaleY]="1"
    [patternRefreshInterval]="2"
    [patternAlpha]="15"
></app-noise>