$spacing-1: 0.625rem;
$spacing-2: 1.25rem;
$gapline: 1px;
:host {
    .button {
        background-color: var( --background );
        cursor: pointer;
        &:active {
            transform-origin: 100% 100%;
            scale: 0.95;
        }
    }
    .version {
        display: flex;
        padding: 0 $spacing-1;
        color: var(--line-grayscale);
        justify-content: end;
        align-items: center;
        p { font-size: 0.5rem;}
    }
}
main {
    display: grid;
    width: 100%; height: 100dvh;
    background-color: var( --default );
    grid-template-columns: $spacing-2 auto $spacing-2;
    grid-template-rows: $spacing-2 auto $spacing-2;
    gap: $gapline;
    span { background-color: var( --background );}
    .content {
        display: flex;
        width: 100%; height: 100%;
        gap: $gapline;
        @media ( max-width: 991px ) {
            flex-direction: column;
        }
        .desktop {
            display: flex;
            width: 40%; height: 100%;
            flex-direction: column;
            gap: $gapline;
            @media ( max-width: 991px ) { width: 100%;}
            .account {
                width: 100%; height: 13rem;
                @media ( max-width: 991px ) { height: 10rem}
                .personal {
                    display: flex;
                    width: 100%; height: 50%;
                    gap: $gapline;
                    @media ( max-width: 991px ) { height: 40%}
                    .information {
                        flex: 1 1 0;
                        display: flex;
                        width: 100%; height: 100%;
                        padding: $spacing-2;
                        background-color: var( --background );
                        align-items: center;
                        gap: $spacing-2;
                        @media ( max-width: 991px ) { padding: $spacing-1 $spacing-2;}
                        .avatar {
                            position: relative;
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            border: solid 1px var( --default );
                            border-radius: 50%;
                                background-image: url('src/assets/images/others/meor-pixar.jpg');
                            background-size: cover;
                            background-position: center 0;
                            transition: all 0.1s;
                            cursor: pointer;
                            &.pixelated { background-image: url('src/assets/images/others/meor-pixar-pixelated-high.jpg');}
                            .chat {
                                position: absolute;
                                bottom: 70%; left: 70%;
                                width: fit-content; height: 2rem;
                                visibility: hidden;
                                img { width: auto; height: 100%;}
                                p {
                                    position: absolute;
                                    top: 0.8rem; left: 50%;
                                    transform: translate( -50%, -50% );
                                }
                            }
                            &:hover {
                                .chat { visibility: visible;}
                            }
                            .business-hour {
                                position: absolute;
                                bottom: 0; right: 0;
                                width: 15px;
                                aspect-ratio: 1 / 1;
                                border: solid 2px var( --background );
                                border-radius: 50%;
                            }
                        }
                        .title {
                            flex: 1 1 0;
                            height: fit-content;
                            h1 {
                                font-family: "CutePixel", sans-serif;
                                line-height: 2.8rem;
                                @media ( max-width: 991px ) { line-height: 1.7rem;}
                            }
                            a {
                                color: var( --line-grayscale );
                                text-decoration: none;
                            }
                        }
                    }
                    .actionbar {
                        display: flex;
                        width: fit-content; height: 100%;
                        flex-direction: column;
                        gap: $gapline;
                        .button {
                            flex: 1 1 0;
                            display: flex;
                            height: calc( 50% - ( $gapline ));
                            aspect-ratio: 1 / 1;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: auto; height: 60%;
                            }
                        }
                    }
                }
                .description {
                    width: 100%; height: 50%;
                    padding: $spacing-2;
                    border-top: solid 1px var( --default );
                    background-color: #262623;
                    @media ( max-width: 991px ) { height: 60%; padding: $spacing-1;}
                    p {
                        font-size: $spacing-1;
                        color: white;
                        &.headline {
                            margin-bottom: 0.3rem;
                            color: var( --primary );
                        }
                    }
                    .lcd-row {
                        display: flex;
                        gap: 2px;
                    }
                }
            }
            .files-directory {
                flex: 1 1 0;
                display: flex;
                width: 100%; height: auto;
                background-color: var( --background );
                flex-direction: column;
            }
        }
        .display {
            flex: 1 1 0;
            position: relative;
            display: flex;
            width: 100%; height: 100%;
            background-color: var( --background );
            justify-content: center;
            align-items: center;
            overflow: hidden;
            &::before {
                --size: 45px;
                --line: color-mix( in hsl, canvasText, transparent 80% );
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: linear-gradient( 90deg, var( --line ) 1px, transparent 1px var( --size ))
                            calc( var( --size ) * 0.36 ) 50% / var( --size ) var( --size ),
                            linear-gradient( var( --line ) 1px, transparent 1px var( --size )) 0%
                            calc( var( --size ) * 0.32 ) / var( --size ) var( --size );
                mask: linear-gradient( -20deg, transparent 50%, var( --background ) );
                transform-style: flat;
                pointer-events: none;
            }
            @media ( max-width: 991px ) {
                display: none;
            }
            img {
                border: solid 4px var( --default );
                z-index: 1;
            }
            .flip-card {
                width: 200px; height: 300px;
                perspective: 1000px;
                cursor: pointer;
                .flip-card-inner {
                    position: relative;
                    width: 100%; height: 100%;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    .flip-card-front,
                    .flip-card-back {
                        position: absolute;
                        display: flex;
                        width: 100%; height: 100%;
                        font-size: 20px;
                        color: white;
                        justify-content: center;
                        align-items: center;
                        backface-visibility: hidden;
                    }
                    .flip-card-back {
                        background-color: #27ae60;
                        transform: rotateY( 180deg );
                    }
                }
                &.flipped {
                    .flip-card-inner {
                        transform: rotateY( 180deg );
                    }
                }
            }

            .display-idle {
                display: flex;
                width: 20rem;
                justify-content: center;
                align-items: center;
                .text {
                    span.bold {
                        font-family: "CutePixel", sans-serif;
                        font-size: 3rem;
                        line-height: 3rem;
                    }
                }
                .bat-container { flex: 1 1 0;}
            }
        }
    }
}