<main>
    <span></span><span></span><span></span><span></span>

    <div class="content" [class]="responsive">
        <div class="desktop" [class]="responsive">
            <div class="account" [class]="responsive">
                <div class="personal" [class]="responsive">
                    <div class="information" [class]="responsive">
                        <div class="avatar" [ngClass]="[ pixel ? 'pixelated' : '', responsive ]" (click)="pixel = !pixel">
                            <div class="chat">
                                <img src="assets/images/others/stock/chat.svg" alt="Chat Ballon">
                                <p>{{ businessHour() ? 'Hi!' : 'Zzz' }}</p>
                            </div>
                            <div class="business-hour" [style.background-color]="businessHour() ? 'limegreen' : 'silver'"></div>
                        </div>
                        <div class="title">
                            <h1 [class]="responsive">MEOR HAKIM</h1>
                            <a href="">@thecodemeor</a>
                        </div>
                    </div>
                    <div class="actionbar">
                        <div class="button" (click)="openExternal( 'email' )">
                            <img src="assets/images/icons/email.svg" alt="email">
                        </div>
                        <div class="button" (click)="search = true">
                            <img src="assets/images/icons/search.svg" alt="search">
                        </div>
                    </div>
                </div>
                <div class="description" [class]="responsive">
                    <p class="headline"><b>About</b></p>
                    <p>A personal showcase website featuring my creative masterpieces, including posters, logos, booklets, and more. This to highlight my best work in visual design and branding.</p>
                    <!-- <div #lcdRow class="lcd-row"></div> -->
                </div>
            </div>
            <div class="files-directory">
                @if (( responsive === 'mobile' || responsive === 'mobile-landscape' ) && toDisplay !== '' ) {
                    <div class="display responsive" [class]="responsive">
                        <div class="flip-card" onclick="this.classList.toggle('flipped')" (click)="flipped()" [style]="sizeDisplay()">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img [src]="toDisplay" alt="Display">
                                </div>
                                <div class="flip-card-back">
                                    <div class="name">{{ signal.name }}</div>
                                    <div class="tools">
                                        <div class="label">Tools</div>
                                        <span class="tools-list">
                                            @for (tool of signal.tools; track tool) {
                                                <img [src]="'assets/images/others/tools/' + tool + '.svg'" alt="tool">
                                            }
                                        </span>
                                    </div>
                                    <div class="colors">
                                        <div class="label">Colors used</div>
                                        <span class="colors-list">
                                            @for (color of signal.colors; track color) {
                                                <div class="color-code" [style.background]="color"></div>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="info">
                                <span class="info-text">Click</span>
                                <img src="assets/images/others/stock/arrow.svg" alt="handwriting arrow">
                            </div>
                        </div>
                        <div class="close">
                            <div class="button" (click)="clearSignal()">
                                <img src="assets/images/icons/close.svg" alt="search">
                            </div>
                        </div>
                    </div>
                }
                @else {
                    @if ( searchInput !== '' ) {
                        <app-views [data]="searchInput" (sendItem)="getItem( $event )"></app-views>
                    }
                    @else {
                        <app-pages (sendItem)="getItem( $event )"></app-pages>
                    }
                }
            </div>
        </div>
        <div class="display" [class]="responsive">
            @if ( toDisplay !== '' ) {
                <div class="flip-card" onclick="this.classList.toggle('flipped')" (click)="flipped()" [style]="sizeDisplay()">
                   <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img [src]="toDisplay" alt="Display">
                        </div>
                        <div class="flip-card-back">
                            <div class="name">{{ signal.name }}</div>
                            <div class="tools">
                                <div class="label">Tools</div>
                                <span class="tools-list">
                                    @for (tool of signal.tools; track tool) {
                                        <img [src]="'assets/images/others/tools/' + tool + '.svg'" alt="tool">
                                    }
                                </span>
                            </div>
                            <div class="colors">
                                <div class="label">Colors used</div>
                                <span class="colors-list">
                                    @for (color of signal.colors; track color) {
                                        <div class="color-code" [style.background]="color"></div>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="info">
                        <span class="info-text">Click to flip</span>
                        <img src="assets/images/others/stock/arrow.svg" alt="handwriting arrow">
                    </div>
                </div>
            }
            @else {
                <div class="display-idle">
                    <div class="text">
                        <p>Your selected<br>file will display</p>
                        <span class="bold">HERE!</span>
                    </div>
                    <div class="bat-container">
                        <div class="bat"></div>
                    </div>
                </div>
            }
            <div class="close">
                <div class="button" (click)="clearSignal()">
                    <img src="assets/images/icons/close.svg" alt="search">
                </div>
            </div>

        </div>
    </div>

    <span></span><span></span>
    <span class="version">
        <p>V_{{ version }}&nbsp;&nbsp;|&nbsp;&nbsp;&copy; {{ licenseYear }}. All Rights Reserved</p>
    </span><span></span>

    @if ( search ) {
        <div class="dialog">
            <div class="label">
                <span class="header">
                    <img src="assets/images/icons/search.svg" alt="search">
                    <span>Search</span>
                </span>
                <div class="button" (click)="closeSearchbar()">
                    <img src="assets/images/icons/close.svg" alt="close">
                </div>
            </div>
            <div class="dialog-box">
                <div class="search-box">
                    <input type="text" [(ngModel)]="searchInput" placeholder="Type here...">
                </div>
            </div>
        </div>
    }
</main>