<main>
    <span></span><span></span><span></span><span></span>

    <div class="content">
        <div class="desktop">
            <div class="account">
                <div class="personal">
                    <div class="information">
                        <div class="avatar" [ngClass]="pixel ? 'pixelated' : ''" (click)="pixel = !pixel">
                            <div class="chat">
                                <img src="assets/images/others/stock/chat.svg" alt="Chat Ballon">
                                <p>{{ businessHour() ? 'Hi!' : 'Zzz' }}</p>
                            </div>
                            <div class="business-hour" [style.background-color]="businessHour() ? 'limegreen' : 'silver'"></div>
                        </div>
                        <div class="title">
                            <h1>MEOR HAKIM</h1>
                            <a href="">@thecodemeor</a>
                        </div>
                    </div>
                    <div class="actionbar">
                        <div class="button" (click)="openExternal( 'email' )">
                            <img src="assets/images/icons/email.svg" alt="email">
                        </div>
                        <div class="button">
                            <img src="assets/images/icons/display.svg" alt="display">
                        </div>
                    </div>
                </div>
                <div class="description">
                    @if (true) {
                        <p class="headline"><b>About</b></p>
                        <p>A personal showcase website featuring my creative masterpieces, including posters, logos, booklets, and more. This to highlight my best work in visual design and branding.</p>
                    }
                    <!-- <div #lcdRow class="lcd-row"></div> -->
                </div>
            </div>
            <div class="files-directory">
                <router-outlet
                    (activate)="onActivate( $event )"
                    (deactivate)="onDeactivate()"
                />
            </div>
        </div>
        <div class="display">
            @if ( toDisplay !== '') {
                <!-- <img [src]="toDisplay" alt="Display"> -->
                <div class="flip-card" onclick="this.classList.toggle('flipped')">
                   <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img [src]="toDisplay" alt="Display">
                        </div>
                        <div class="flip-card-back">
                        </div>
                    </div>
                </div>
            }
            @else {
                <div class="display-idle">
                    <div class="text">
                        <p>Your selected<br>file will display</p>
                        <span class="bold">HERE</span>
                    </div>
                    <div class="bat-container">
                        <div class="bat"></div>
                    </div>
                </div>
            }
        </div>
    </div>

    <span></span><span></span>
    <span class="version">
        <p>V_{{ version }}&nbsp;&nbsp;|&nbsp;&nbsp;&copy; {{ licenseYear }}. All Rights Reserved</p>
    </span><span></span>
</main>