$spacing-1: 0.625rem;
$spacing-2: 1.25rem;
$gapline: 1px;
:host {
    width: 100dvw; height: 100dvh;
    .button {
        background-color: var( --background );
        cursor: pointer;
        &:active {
            transform-origin: 100% 100%;
            scale: 0.95;
        }
    }
    .version {
        display: flex;
        padding: 0 $spacing-1;
        color: var(--line-grayscale);
        justify-content: end;
        align-items: center;
        p { font-size: 0.5rem;}
    }
}
main {
    position: relative;
    display: grid;
    width: 100%; height: 100%;
    background-color: var( --default );
    grid-template-columns: $spacing-2 calc( 100% - 2.5rem - ( $gapline * 2 )) $spacing-2;
    grid-template-rows: $spacing-2 auto $spacing-2;
    gap: $gapline;
    span { background-color: var( --background );}
    .content {
        display: flex;
        width: 100%; height: 100%;
        gap: $gapline;
        &.mobile { flex-direction: column;}
        .desktop {
            display: flex;
            width: 40%; height: 100%;
            flex-direction: column;
            gap: $gapline;
            &.mobile-landscape {
                width: 100%;
                flex-direction: row;
            }
            &.mobile { width: 100%;}
            .account {
                width: 100%; height: 13rem;
                &.mobile { height: 10rem}
                .personal {
                    display: flex;
                    width: 100%; height: 50%;
                    gap: $gapline;
                    &.mobile { height: 40%}
                    .information {
                        flex: 1 1 0;
                        display: flex;
                        width: 100%; height: 100%;
                        padding: $spacing-2;
                        background-color: var( --background );
                        align-items: center;
                        gap: $spacing-2;
                        &.mobile-landscape {
                            padding: $spacing-1;
                            gap: $spacing-1;
                        }
                        &.mobile { padding: $spacing-1 $spacing-2;}
                        .avatar {
                            position: relative;
                            height: 100%;
                            aspect-ratio: 1 / 1;
                            border: solid 1px var( --default );
                            border-radius: 50%;
                            background-image: url('src/assets/images/others/meor-pixar.jpg');
                            background-size: cover;
                            background-position: center 0;
                            transition: all 0.1s;
                            cursor: pointer;
                            &.pixelated { background-image: url('src/assets/images/others/meor-pixar-pixelated-high.jpg');}
                            .chat {
                                position: absolute;
                                bottom: 70%; left: 70%;
                                width: fit-content; height: 2rem;
                                visibility: hidden;
                                img { width: auto; height: 100%;}
                                p {
                                    position: absolute;
                                    top: 0.8rem; left: 50%;
                                    transform: translate( -50%, -50% );
                                }
                            }
                            &:hover {
                                .chat { visibility: visible;}
                            }
                            .business-hour {
                                position: absolute;
                                bottom: 0; right: 0;
                                width: 15px;
                                aspect-ratio: 1 / 1;
                                border: solid 2px var( --background );
                                border-radius: 50%;
                            }
                        }
                        .title {
                            flex: 1 1 0;
                            height: fit-content;
                            h1 {
                                font-family: "CutePixel", sans-serif;
                                line-height: 2.8rem;
                                &.mobile { line-height: 1.7rem;}
                            }
                            a {
                                color: var( --line-grayscale );
                                text-decoration: none;
                            }
                        }
                    }
                    .actionbar {
                        display: flex;
                        width: fit-content; height: 100%;
                        flex-direction: column;
                        gap: $gapline;
                        .button {
                            flex: 1 1 0;
                            display: flex;
                            height: calc( 50% - ( $gapline ));
                            aspect-ratio: 1 / 1;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: auto; height: 60%;
                            }
                        }
                    }
                }
                .description {
                    width: 100%; height: 50%;
                    padding: $spacing-2;
                    border-top: solid 1px var( --default );
                    background-color: var( --default );
                    &.mobile { height: 60%; padding: $spacing-1;}
                    p {
                        font-size: $spacing-1;
                        color: white;
                        &.headline {
                            margin-bottom: 0.3rem;
                            color: var( --blue );
                        }
                    }
                    .lcd-row {
                        display: flex;
                        gap: 2px;
                    }
                }
            }
            .files-directory {
                flex: 1 1 0;
                display: flex;
                width: 100%; height: auto;
                background-color: var( --background );
                flex-direction: column;
            }
        }
        .display {
            flex: 1 1 0;
            position: relative;
            display: flex;
            width: 100%; height: 100%;
            background-color: var( --background );
            justify-content: center;
            align-items: center;
            overflow: hidden;
            &::before {
                --size: 45px;
                --line: color-mix( in hsl, canvasText, transparent 80% );
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: linear-gradient( 90deg, var( --line ) 1px, transparent 1px var( --size ))
                            calc( var( --size ) * 0.36 ) 50% / var( --size ) var( --size ),
                            linear-gradient( var( --line ) 1px, transparent 1px var( --size )) 0%
                            calc( var( --size ) * 0.32 ) / var( --size ) var( --size );
                mask: linear-gradient( -20deg, transparent 50%, var( --background ) );
                transform-style: flat;
                pointer-events: none;
            }
            &.mobile-landscape { width: 100%;}
            &.mobile { display: none;}
            .flip-card {
                position: relative;
                width: 200px; height: 300px;
                perspective: 1000px;
                cursor: pointer;
                .flip-card-inner {
                    position: relative;
                    width: 100%; height: 100%;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    background-color: var( --background );
                    .flip-card-front,
                    .flip-card-back {
                        position: absolute;
                        width: 100%; height: 100%;
                        font-size: 20px;
                        color: white;
                        border: solid 4px var( --default );
                        backface-visibility: hidden;
                        img { width: 100%; height: auto;}
                    }
                    .flip-card-back {
                        display: flex;
                        padding: $spacing-1 $spacing-2;
                        background-color: var( --primary );
                        flex-direction: column;
                        transform: rotateY( 180deg );
                        .name {
                            width: 100%;
                            margin-bottom: $spacing-1;
                            font-family: "CutePixel", sans-serif;
                            font-size: 2.5rem;
                            text-align: center;
                            color: var( --default );
                        }
                        .tools, .colors {
                            width: 100%;
                            margin-bottom: $spacing-2;
                            .label {
                                margin-bottom: $spacing-1;
                                font-size: 1rem;
                                font-weight: 600;
                                color: var( --default );
                            }
                            .tools-list, .colors-list {
                                display: flex;
                                width: 100%; height: fit-content;
                                background-color: var( --primary );
                                gap: 0.2rem;
                                img { width: auto; height: 3rem;}
                                .color-code {
                                    height: 2rem;
                                    aspect-ratio: 1 / 1;
                                    border: solid 2px var( --default );
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
                &.flipped {
                    .flip-card-inner {
                        transform: rotateY( 180deg );
                    }
                }
                .info {
                    position: absolute;
                    display: flex;
                    bottom: 0; left: 102%;
                    width: fit-content; height: fit-content;
                    flex-direction: column;
                    cursor: default;
                    pointer-events: none;
                    .info-text {
                        width: 5.8rem;
                        font-family: "Gloria Hallelujah", cursive;
                        rotate: -10deg;
                        animation: floating1 2s ease-in-out infinite;
                        @keyframes floating1 {
                            0% { transform: translate( 1rem, 0.5rem );}
                            50% { transform: translate( 1rem, 0.3rem );}
                            100% { transform: translate( 1rem, 0.5rem );}
                        }
                    }
                    img {
                        height: 3rem;
                        margin: 0 auto 0 0;
                        animation: floating2 2s ease-in-out infinite;
                        @keyframes floating2 {
                            0% { transform: translateY( 0rem );}
                            50% { transform: translateY( 0.2rem );}
                            100% { transform: translateY( 0rem );}
                        }
                    }
                }
            }
            &.responsive {
                display: flex;
                .flip-card {
                    cursor: pointer;
                    .flip-card-inner {
                        .flip-card-back {
                            padding: $spacing-1 $spacing-2;
                            .name { font-size: 1.5rem;}
                            .tools, .colors {
                                .label { font-size: $spacing-1;}
                                .tools-list, .colors-list {
                                    img { width: auto; height: 2rem;}
                                    .color-code { height: 1.3rem;}
                                }
                            }
                        }
                    }
                    .info {
                        .info-text {
                            width: fit-content;
                            font-family: "Gloria Hallelujah", cursive;
                            rotate: -10deg;
                            animation: floating1 3s ease-in-out infinite;
                            @keyframes floating1 {
                                0% { transform: translate( 1rem, 0rem );}
                                50% { transform: translate( 1rem, 0.2rem );}
                                100% { transform: translate( 1rem, 0rem );}
                            }
                        }
                        img {
                            height: 3rem;
                            margin: 0 auto 0 0;
                            animation: floating2 3s ease-in-out infinite;
                            @keyframes floating2 {
                                0% { transform: translateY( -1rem );}
                                50% { transform: translateY( -0.8rem );}
                                100% { transform: translateY( -1rem );}
                            }
                        }
                    }
                }
            }

            .display-idle {
                display: flex;
                width: 20rem;
                justify-content: center;
                align-items: center;
                .text {
                    span.bold {
                        font-family: "CutePixel", sans-serif;
                        font-size: 3rem;
                        line-height: 3rem;
                    }
                }
                .bat-container { flex: 1 1 0;}
            }

            .close {
                position: absolute;
                top: 0; right: 0;
                width: 2.5rem;
                aspect-ratio: 1 / 1;
                padding: 0 0 $gapline $gapline;
                background: var( --default );
                .button {
                    img { width: 100%; height: auto;}
                }
            }
        }
    }
}

.dialog {
    position: absolute;
    top: 10dvh; left: 50%;
    width: 35rem; height: 10dvh;
    max-width: 90%;
    background-color: var( --default );
    transform: translateX( -50% );
    animation: glowing-shadow 2s infinite linear;
    @keyframes glowing-shadow {
        0% { box-shadow: 0px 3px 0px var( --default ), 0px -3px 0px var( --default ), 3px 0px 0px var( --default ), -3px 0px 0px var( --default ), 0px 0px 0px 0px #00e1ff, 0px 0px 0px 10px #00b3ff;}
        80% { box-shadow: 0px 3px 0px var( --default ), 0px -3px 0px var( --default ), 3px 0px 0px var( --default ), -3px 0px 0px var( --default ), 0px 0px 0px 10px #00e1ff, 0px 0px 0px 10px #00b3ff;}
        100% { box-shadow: 0px 3px 0px var( --default ), 0px -3px 0px var( --default ), 3px 0px 0px var( --default ), -3px 0px 0px var( --default ), 0px 0px 0px 10px #00a0e500, 0px 0px 0px 10px #00b3ff;}
    }
    .label {
        display: flex;
        width: 100%; height: 45%;
        span.header {
            flex: 1 1 0;
            display: flex;
            width: 100%; height: 100%;
            padding: 0 0 0 $spacing-2;
            align-items: center;
            background-color: var( --background );
            gap: $spacing-2;
            img { width: auto; height: 60%;}
            span {
                flex: 1 1 auto;
                font-family: "CutePixel", sans-serif;
                font-size: 1.8rem;
            }
        }
        .button {
            display: flex;
            height: 100%;
            aspect-ratio: 1 / 1;
            border-left: solid 3px var( --default );
            justify-content: center;
            align-items: center;
            img { width: auto; height: 60%;}
        }
    }
    .dialog-box {
        display: flex;
        width: 100%; height: 55%;
        border-top: solid 3px var( --default );
        background-color: var( --default );
        .search-box {
            flex: 1 1 auto;
            width: 100%; height: 100%;
            background-color: white;
            input {
                width: 100%; height: 100%;
                padding: $spacing-1 $spacing-2;
                font-family: "Minecraftia", sans-serif;
                font-size: 1rem;
                color: var( --default );
                border: none;
                border-radius: 0;
                outline: none;
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
}