/*********************************************
* Light
*********************************************/
html body.light {
    --background: #fffcf4;
    --default: #262623;

    --primary: #3dc5ff;

    --text-color-standard: var( --default );
    --text-color-revert: white;

    --line-grayscale: #9f9f9f;
}

html body.dark {
    --background: #262623;
    --default: #fffcf4;

    --primary: #3dc5ff;

    --text-color-standard: white;
    --text-color-revert: var( --default );

    --line-grayscale: #9f9f9f;
}